.mayormenor-container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 39%;
    bottom: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .titulo-mayormenor {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    width: max-content;
    display: block;
    margin: 0 auto;
    background-color: rgba(67, 37, 69, 0.7);
    padding: 5px 15px;
    margin-top: 10rem;
    border-radius: 20px;
    box-shadow: 0 0 8px gray;
    /* margin-top: 90px; */
    margin-bottom: 1rem;
    box-shadow: 0 0 20px #c8bcfb;
  }
  
  .puntuacion {
    text-align: center;
    color: #00d9ff;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
  }
  
  .intentos {
    color: #00d9ff;
    margin-left: 8rem;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .row {
    margin: 1rem auto;
  }
  
  .carta-izquierda {
    width: 15rem;
    margin-right: 15px;
    /* border-radius: 10px; */
    box-shadow: 0 0 20px #6528e0;
  }
  
  .btn-mayormenor {
    display: block;
    margin: 0.5rem auto;
  }
  
  @media screen and (max-width: 500px) {
    .carta-izquierda {
      width: 9rem;
    }
    .carta-derecha {
      width: 9rem;
    }
  }
  
  .btn-menor {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #6528e0;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 9rem;
  }
  
  .btn-menor:hover {
    background-color: rgba(197, 3, 250, 0.8);
    box-shadow: 0px 15px 20px #6528e0;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
  }
  
  .btn-menor:active {
    transform: translateY(-2px);
  }
  
  .btn-mayor {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #f50fe7;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 1rem;
  }
  
  .btn-mayor:hover {
    background-color: rgba(197, 3, 250, 0.8);
    box-shadow: 0px 15px 20px #ff056f;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
  }
  
  .btn-mayor:active {
    transform: translateY(-2px);
  }
  
  .btn-comenzar-reiniciar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(197, 3, 250, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 1rem auto;
  }
  
  .btn-comenzar-reiniciar:hover {
    background-color: #6716c4;
    box-shadow: 0px 15px 20px rgba(245, 2, 253, 0.4);
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
  }
  
  .btn-comenzar-reiniciar {
    transform: translateY(-1px);
  }

  .error-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #802cbc;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .error-toast-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .error-toast-message {
    font-size: 20px;
  }